<li class="comment media">
    <div class="gravatar pull-left">
      <%= image_tag avatar_url(comment.email), :alt => comment.name, :class => 'media-object' %>
    </div>
    <div class="media-body well well-sm">
      <strong class="media-heading"><%=comment.name%></strong>
      <span class="comment-meta-date"><%=comment.created_at.to_date.to_formatted_s(:long)%></span>
        <p><br/><%= comment.message.to_s %></p>
    </div>
</li>