<div class="sidepanel widget_archives">
    <h4 class="sidebar_header"><%= t('archives', :scope => 'refinery.blog.shared') %></h4>
    <ul>
      <% links.each do |link| %>
        <li><%= link %></li>
      <% end %>
    </ul>
</div>