<% if @tags.any? %>
<div class="sidepanel widget_tag_cloud">
  <h4 class="sidebar_header"><%= t('.title') %></h4>
  <div class="tags">
    <% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
      <%= link_to tag.name, refinery.blog_tagged_posts_path(tag.id, tag.name.parameterize), :class => css_class %>
    <% end %>
  </div>
</div>
<% end %>